body {
    font-family: sans-serif;
}


.container {
    height: 100%;
    width:  344px;
    margin: auto;
}


.input-field-full-width {
    width:  100%;
    margin: 5px 0px;
}

.container #remember_me {
    width: 12px;
    height: 12px;
}

.container #submit {
    padding: 4px 16px;
    width: auto;
    background-color: #1473e6;
    border: none;
    border-radius: 16px;
    font-weight: 700;
    font-color: #fff;
}

#video-content-container {
    padding: 0px;
    width: 100%;
    background-color: white;
}

#video-content {
    height: 480px;
    overflow: hidden;
    background-color: #212121;
    padding: 10px 0px;
}

#video-player video {
    height: 100%;
    display: block;
    margin: auto;
}

#video-info {
    max-width: 720px;
    margin: auto;
}

#video-title {
    border-bottom: 1px solid #BDBDBD;
