{% extends "base.html" %}
{% block topnav %}
    <div class="topnav">
        <div id="topnav-menu" class="nav-element">
            <a href="javascript:void(0)" onclick="openSideNav()">
                <img src="{{ url_for('static', filename='images/topbar_menu_icon.svg') }}"/>
            </a>
        </div>
        <div id="topnav-logo" class="nav-element">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/blockmart_logo.svg') }}"/>
            </a>
        </div>
        <div id="topnav-search" class="nav-element">
            <form action="" method="POST" name="search">
                {{ search_form.hidden_tag() }}
                {{ search_form.search_string(placeholder="Search") }}
                {{ search_form.submit(id="search-submit", value="Search") }}
            </form>
        </div>
        <div class="topnav-right">
            {% if current_user.is_authenticated %}
            <div id="topnav-right-user" class="nav-element">
                <span>Hello, {{ current_user.fname }}</span>
            </div>
            <div class="nav-element">
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
            {% else %}
            <div class="nav-element">
                <a href="{{ url_for('signin') }}">Sign In</a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block sidenav %}
    <div id="sidenav" class="container-sidenav">
        <a href="javascript:void(0)" class="sidenav-close-button" onclick="closeSideNav()">x</a>
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_authenticated %}
        <a href="javascript:void(0)">My Profile</a>
        <a href="{{ url_for('upload') }}">Upload Video</a>
        <a href="javascript:void(0)">Library</a>
        {% endif %}
        {# <a href="javascript:void(0)">Help</a> #}
    </div>
    <script>
        function openSideNav() {
            document.getElementById("sidenav").style.width = "240px";
            document.getElementById("main").style.marginLeft = "240px";
        }

        function closeSideNav() {
            document.getElementById("sidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
{% endblock %}
