{% extends "base.html" %}
{% block topbar %}
    <div id="container-topbar">
        <div id="topbar-menu">
            <img src="{{ url_for('static', filename='images/topbar_menu_icon.svg') }}"/>
        </div>
        <div id="topbar-logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/blockmart_logo.svg') }}"/>
            </a>
        </div>
        <div id="topbar-search">
        </div>
        <div id="topbar-user">
        </div>
    </div>
{% endblock %}
