{% extends "base.html" %}
{% block title %}Create An Account{% endblock %}
{% block body %}
    <div class="container">
        <h1>Sign Up</h1>
        <div id="sign-up-form">
            <form action="" method="POST" name="signup">
                {{ form.hidden_tag() }}
                {{ form.first_name(class="input-field-full-width", placeholder="First Name") }}
                {{ form.last_name(class="input-field-full-width", placeholder="Last Name") }}
                {{ form.email(class="input-field-full-width", placeholder="Email") }}
                {{ form.password(class="input-field-full-width", placeholder="Password") }}
                {{ form.confirm_password(class="input-field-full-width", placeholder="Confirm Password") }}
                {{ form.submit(value="Create account") }}
            </form>
        </div>
    </div>
{% endblock %}
