{% extends "base_nav.html" %}
{% block title %}{{ video_name }}{% endblock %}
{% block body %}
    <div id="video-content-container">
        <div id="video-content">
            <div id="video-player">
                <video controls>
                    <source src="{{ video_path}}" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
            </div>
        </div>
        <div id="video-info">
            <div id="video-title">
                <h2>{{ video_name }}</h2>
            </div>
            <div id="video-desc">
                <h3>Description</h3>
                <p>{{ video_desc }}</p>
            </div>
        </div>
    </div>
{% endblock %}
