{% extends "base_nav.html" %}
{% block title %}{{ video_name }}{% endblock %}
{% block body %}
    <div id="main">
        <div id="video-content">
            <div id="video-player">
                <video controls>
                    <source src="{{ video_path }}" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
            </div>
        </div>
        <div class="video-info-container">
            <div class="video-info">
                <div class="video-title">
                    <h2>{{ video_title }}</h2>
                </div>
                <div class="video-desc">
                    <h3>Description</h3>
                    <p>{{ video_desc }}</p>
                </div>
            </div>
            <div class="video-purchase-info">
                {% if not videoIsOwned %}
                <div class="video-purchase-price">
                    {% if video_price == 0 %}
                    Free
                    {% elif videoIsPurchased %}
                    Purchased
                    {% else %}
                    {{ video_price }}
                    {% endif %}
                </div>
                {% endif %}
                {% if video_price == 0 or videoIsPublic or videoIsPurchased or videoIsOwned %}
                <a href="{{ url_for('download', video_id=video_id) }}">Download</a>
                {% else %}
                <a id="vp-buy-now" href="javascript:void(0)" onclick="openBuyPrompt()">Buy Now</a>
                <div id="trans-prompt-wrapper">
                    <div id="trans-prompt">
                        <div id="trans-prompt-header">
                            <div id="tp-video-thumbnail">
                                <img src="{{ video_thumbnail }}"</img>
                            </div>
                            <div id="tp-video-title"><h2>{{ video_title }}</h2></div>
                            <div id="tp-video-owner">By {{ video_owner }}</div>
                            <div id="tp-video-price">Cost: {{ video_price }} tks</div>
                        </div>
                        <div id="trans-prompt-footer">
                            <div id="trans-prompt-form">
                                <p>Are you sure you want to continue with this purchase?</p>
                                <form name="confirm_purchase" method="POST">
                                    <button type="submit" id="tp-button-continue" class="tp-button" name="confirm_buy" type="submit">Continue</button>
                                    <button id="tp-button-cancel" class="tp-button" onclick="closeBuyPrompt()">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    document.getElementById("trans-prompt-wrapper").style.display = "none";
                    function openBuyPrompt() {
                        document.getElementById("trans-prompt-wrapper").style.display = "block"; 
                    }

                    function closeBuyPrompt() {
                        document.getElementById("trans-prompt-wrapper").style.display = "none";
                    }
                </script>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
